<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="H2" th:remove="all"/>
    <meta name="since" content="2018/11/17 16:36" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>Sign-in</title>
</head>
<body>
<div th:replace="admin/components/gnb :: gnb"></div>
<main>
    <h1 th:text="#{page.signin.title}">Sign-in</h1>
    <form action="index.html" method="post" th:action="@{/admin/signin}">
        <div>
            <label for="username" th:text="#{page.signin.form.username.label}">username</label>
            <input id="username" name="username" placeholder="input name or email."
                   th:placeholder="#{page.signin.form.username.placeholder}"/>
        </div>
        <div>
            <label for="password" th:text="#{page.signin.form.password.label}">password</label>
            <input type="password" id="password" name="password"
                   th:placeholder="#{page.signin.form.password.placeholder}"/>
        </div>
        <div>
            <button type="reset" th:text="#{page.signin.form.reset.label}">reset</button>
            <button th:text="#{page.signin.form.submit.label}">submit</button>
        </div>
    </form>
</main>
</body>
</html>