<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:lang="${#locale}">
<head>
    <meta name="author" content="H2" th:remove="all"/>
    <meta name="since" content="2018/11/17 15:44" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>GNB</title>
</head>
<body>
<h1>GNB</h1>
<div th:fragment="gnb" th:remove="tag">
    <div sec:authorize="hasRole('ROLE_ANONYMOUS')" th:remove="tag">
        <div th:replace="admin/components/gnb/guest :: gnb"></div>
    </div>
    <div sec:authorize="hasRole('ROLE_OPERATOR')" th:remove="tag">
        <div th:replace="admin/components/gnb/operator :: gnb"></div>
    </div>
</div>
</body>
</html>